body {
    background-color: #000;
    color: #fff;
}

a.navlink {
    color: white;
    text-decoration: none;
    background: orange;
    padding: 10px;
}

td.cross {
   height: 3em;
   width: 3em;
   border: 1px solid white;
   vertical-align: top;
}

.white {
    background-color: white;
    
}